@charset "UTF-8";
.inner {
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

body .container .header-title {
  text-align: center;
  height: 50px;
}

body .header-content .header-menu-open {
  display: none;
}

body .header-content .global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(199, 199, 199, 0.4);
}

body .header-content .global-nav dl {
  margin: 10px;
  width: 150px;
}

body .header-content .global-nav dl dt {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

body .header-content .global-nav dl dt a {
  font-size: 0.8rem;
  font-family: 'Noto Sans JP', sans-serif;
}

body .header-content .global-nav .header-menu-contents-list {
  display: none;
}

body .header-content .global-nav .header-menu-contents-list span {
  opacity: 0.8;
  margin: 7.5px 0;
  display: block;
  text-align: center;
  font-size: 0.75rem;
}

#main-content {
  font-family: YuGothic,YuGothicM,'Yu Gothic',"メイリオ",sans-serif;
}

#main-content .key-visual {
  background-image: url("../img/keyVisual.jpg");
  background-size: 100%;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-content .key-visual .key-visual-text {
  color: white;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

#main-content .key-visual .logo {
  color: white;
  font-size: 6rem;
  font-weight: 900;
}

#main-content .Introduction {
  color: white;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

#main-content .Introduction .Introduction-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

#main-content .Introduction .Introduction-img img {
  width: 100%;
  height: auto;
}

#main-content .Introduction .Introduction-content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 30px;
}

#main-content .Introduction .Introduction-content .Introduction-text span {
  color: white;
}

#main-content .Introduction .Introduction-content .Introduction-info {
  margin-top: 20px;
  padding: 20px;
  border: solid 1px #ccc;
}

#main-content .Introduction .Introduction-content .Introduction-info h1 {
  font-size: 16px;
}

#main-content .Introduction .Introduction-content .Introduction-info p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.5;
}

#main-content .Introduction .Introduction-content .Introduction-info span {
  display: block;
  text-align: center;
}

#main-content .Introduction .Introduction-content .Introduction-info span a img {
  margin-top: 10px;
  width: 150px;
}

#main-content .Introduction .Introduction-content div .Introduction1 {
  font-size: 2rem;
  padding-bottom: 20px;
  font-weight: 700;
  color: #9a9a9a;
}

#main-content .Introduction .Introduction-content div .Introduction2 {
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: bold;
}

#main-content .Introduction .Introduction-content div .Introduction3 {
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 20px;
}

#main-content .how-to-use {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-size: 100% 100%;
  background-image: url("../img/howToUse.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

#main-content .how-to-use .how-to-use-contents {
  width: 915px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-content .how-to-use .how-to-use-contents p {
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

#main-content .how-to-use .how-to-use-contents .how-to-use-area {
  overflow: hidden;
  float: left;
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #2d2d2d;
  font-weight: bold;
}

#main-content .how-to-use .how-to-use-contents .how-to-use-area::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#main-content .how-to-use .how-to-use-contents .how-to-use-area img {
  width: 100%;
  height: 100%;
}

#main-content .how-to-use .how-to-use-contents .how-to-text {
  text-align: center;
}

#main-content .how-to-use .how-to-use-contents .how-to-text span {
  margin: auto;
}

#main-content .how-to-use .how-to-use-contents .text-area1 {
  background-color: rgba(255, 255, 255, 0.8);
}

#main-content .how-to-use .how-to-use-contents .text-area2 {
  background-color: rgba(228, 207, 191, 0.8);
}

#main-content .how-to-use .how-to-use-contents .text-area3 {
  background-color: rgba(237, 233, 230, 0.8);
}

#main-content .how-to-use .how-to-use-contents .text-area4 {
  background-color: rgba(240, 225, 201, 0.8);
}

#main-content .ask {
  width: 100%;
  background-color: #dedede;
  padding-top: 60px;
  padding-bottom: 60px;
}

#main-content .ask .inner {
  width: 660px;
}

#main-content .ask .inner .ask-text1 {
  font-size: 32px;
  padding-bottom: 40px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
}

#main-content .ask .inner .ask-text2 {
  padding-bottom: 20px;
  font-weight: 500;
}

#main-content .qa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #141414;
  color: #fff;
}

#main-content .qa .inner {
  width: 960px;
}

#main-content .qa .inner .qa-text {
  padding-bottom: 40px;
  font-size: 2rem;
  font-weight: 700;
}

#main-content .qa .inner .item {
  border: solid 1px #4b4b4b;
  margin-bottom: 5%;
  font-size: 1.2rem;
}

#main-content .qa .inner .item .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

#main-content .qa .inner .item .question span {
  cursor: pointer;
}

#main-content .qa .inner .item .answer-list .answer-design {
  display: block;
  padding: 16px 8px;
  display: none;
  margin-bottom: 2px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
}

#main-content .qa .inner .item .answer-list .open-answer {
  background-color: #1f1f1f;
}

#main-content .qa .inner .item .answer-list .open-answer:hover {
  background-color: #535353;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../font/MaterialIcons-Regular.woff2) format("woff2"), url(../font/MaterialIcons-Regular.woff) format("woff"), url(../font/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

@media screen and (max-width: 1201px) {
  #main-content .key-visual {
    background-size: auto 100%;
  }
}

@media screen and (max-width: 768px) {
  body .header-content .global-nav {
    position: fixed;
    top: 0;
    right: -90%;
    background-color: white;
    width: 90%;
    height: 100vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
  }
  body .header-content .global-nav dl {
    width: 100%;
    margin: 0px;
  }
  body .header-content .global-nav dl dt {
    padding: 2.5% 0;
    border-top: 1px solid #e6e6e6;
    font-size: 0.875;
  }
  body .header-content .global-nav dl dt a {
    font-size: 0.875rem;
  }
  body .header-content .global-nav .header-menu-contents-list {
    background-color: #f5f5f5;
  }
  body .header-content .global-nav .header-menu-contents-list span {
    margin: 0;
    padding: 2.5%;
    border-top: 1px solid #e6e6e6;
  }
  body .header-content .global-nav-open {
    top: 0;
    right: 0;
  }
  body .header-content .header-menu-open {
    z-index: 100;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
  body .header-content .header-menu-open span {
    float: right;
    font-size: 50px;
  }
  body .global-wrapper-hide {
    right: 90%;
  }
  #main-content .key-visual {
    background-size: 100% auto;
    height: 420px;
  }
  #main-content .key-visual div {
    min-width: 280;
    padding: 15px;
    background-color: rgba(20, 20, 20, 0.4);
  }
  #main-content .Introduction {
    display: block;
  }
  #main-content .Introduction .Introduction-content {
    padding-left: 0px;
  }
  #main-content .Introduction .Introduction-content .Introduction-text .Introduction1 {
    font-size: 18px;
    text-align: center;
  }
  #main-content .Introduction .Introduction-content .Introduction-text .Introduction2 {
    font-size: 16px;
    padding-bottom: 0px;
  }
  #main-content .Introduction .Introduction-content .Introduction-text .Introduction3 {
    font-size: 14px;
  }
  #main-content .Introduction .Introduction-content .Introduction-info {
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  #main-content .Introduction .Introduction-content .Introduction-info h1 {
    font-size: 16px;
  }
  #main-content .Introduction .Introduction-content .Introduction-info p {
    font-size: 14;
  }
  #main-content .Introduction .Introduction-img {
    margin: auto;
  }
  #main-content .how-to-use {
    padding: 40px 10px;
  }
  #main-content .how-to-use .how-to-use-contents {
    width: auto;
  }
  #main-content .how-to-use .how-to-use-contents p {
    font-size: 18px;
  }
  #main-content .how-to-use .how-to-use-contents .how-to-use-area {
    width: calc(100% / 2);
  }
  #main-content .how-to-use .how-to-use-contents .img-center {
    display: none;
  }
  #main-content .ask .inner {
    width: auto;
  }
  #main-content .ask .inner .ask-text1 {
    font-size: 18px;
    padding-bottom: 0px;
  }
  #main-content .ask .inner .ask-text2 {
    margin-top: 20px;
    font-size: 0.875rem;
  }
  #main-content .qa .inner {
    width: auto;
  }
  #main-content .qa .inner .qa-text {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
  }
  #main-content .qa .inner .item .question {
    padding: 10px 10px 10px 10px;
  }
  #main-content .qa .inner .item .answer-list .answer-design {
    padding: 10px 40px 10px 10px;
  }
}

@media screen and (max-width: 640px) {
  #main-content .key-visual {
    background-size: auto 100%;
  }
}
/*# sourceMappingURL=style.css.map */