$header-color : #121629;


.inner{
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}


body{
    .container{
        .header-title{
            text-align: center;
            height: 50px;
        }
    }

    .header-content{

        // メニューボタン非表示状態
        .header-menu-open {
            display: none;
        }

        // メニュー内容
        .global-nav{
            display: flex;
            // flex中央寄せ
            justify-content: center;
            background-color: rgba($color: #c7c7c7, $alpha: 0.4);
            dl{
                margin: 10px;
                width: 150px;
                dt{
                    padding-left: 10px;
                    padding-right: 10px;
                    text-align: center;
                    a{
                        font-size: 0.8rem;
                        font-family: 'Noto Sans JP', sans-serif;
                    }
                }
            }

            // メニューリスト非表示
            .header-menu-contents-list {
                display: none;
                span{
                    opacity: 0.8;
                    margin: 7.5px 0;
                    display: block;
                    text-align: center;
                    font-size: 0.75rem;
                }
            }

        }
    }
    // .header-content:hover{
    //     display: block;
    // }
}

#main-content{
    // width: 100%;
    // width: 1639;
    font-family: YuGothic,YuGothicM,'Yu Gothic',"メイリオ",sans-serif;

    .key-visual{
        background-image: url("../img/keyVisual.jpg");
        background-size: 100%;
        width: 100%;
        
        // max-width:100%;
        height: 800px;
        display: flex;
        object-fit: cover;
        //中の要素を左右中央寄せ
        justify-content: center;
        //中の要素を上下中央寄せ
        align-items: center;
        .key-visual-text{
            color: white;
            font-weight: normal;
            font-size: 20px;
            text-align: center;
        }
        .logo{
            color: white;
            font-size: 6rem;
            font-weight: 900;
        }
    }


    .Introduction{
        color: white;
        background: black;
        display: flex;
        justify-content: center; // 中央寄せ
        width: 100%;
        // height: 1200px;
        padding-top: 80px;
        padding-bottom: 80px;

        .Introduction-img{
            // 順番変更
            order: 1;

            // display: inline-block;
            height: 100%;
            // position: absolute;
            overflow: hidden;
            width: 200px;
            height: 200px;
            // left: 550px;
            // bottom: 60px;
            img{
                width: 100%;
                height: auto;
            }
        }

        .Introduction-content{
            // 順番変更
            order: 2;
            padding-left: 30px;

            .Introduction-text{
                // display: inline-block;
                // margin-left: 40%;
                span{
                    color: white;
                }
            }

            .Introduction-info{
                margin-top: 20px;
                padding: 20px;
                border: solid 1px #ccc;
                h1{
                    font-size: 16px;
                }
                p{
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: 1.5;
                }
                span{
                    display: block;
                    text-align: center;
                    a{
                        img{
                            margin-top: 10px;
                            width: 150px;
                        }
                    }
                }
            }
    
            div{
                .Introduction1{
                    font-size: 2rem;
                    padding-bottom: 20px;
                    font-weight: 700;
                    color: #9a9a9a;
                }
                .Introduction2{
                    font-size: 24px;
                    padding-bottom: 20px;
                    font-weight: bold;
                }
                .Introduction3{
                    font-size: 18px;
                    margin-top: 10px;
                    padding-bottom: 20px;
                }
            }
        }
    }

    
    .how-to-use{
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
        // height: 1150px;
        background-size: 100% 100%;
        background-image: url("../img/howToUse.jpg");
        object-fit: cover;
        // background: white;
        

        .how-to-use-contents{
            width: 915px;
            // 画面幅の90%を指定（適当）
            // width: 90%;
            margin: auto;
            // 子要素（box）が、親要素（wrapper）のwidthを超えた場合、折り返す
            flex-wrap: wrap;
            // flex化
            display: flex;

            p{
                // color: azure;
                margin: 0 auto;
                // text-align: center;
                padding-bottom: 40px;
                font-size: 32px;
                font-weight: bold;
                letter-spacing: 0.2rem;
            }

            .how-to-use-area{
                overflow: hidden;
                float: left;
                width: calc(100% / 3);
                display: flex;
                font-size: 20px;
                color: #2d2d2d;
                font-weight: bold;

                &::before {
                    // レスポンシブな正方形を作る
                    content: "";
                    display: block;
                    padding-top: 100%;
                    // ↑これをやると％表示でも正方形が作れます
                }
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            
            .how-to-text{
                text-align: center;
                span{
                    margin: auto;
                }
            }
            
            // 2:1で画面サイズ変更に対応？
            .text-area1{
                background-color: rgba(255,255,255,0.8);
                // width: 305px;
                // height: 305px;
            }

            .text-area2{
                background-color: rgba(228,207,191,0.8);
                // width: 305px;
                // height: 305px;
            }

            .text-area3{
                background-color: rgba(237,233,230,0.8);
                // width: 305px;
                // height: 305px;
            }

            .text-area4{
                background-color: rgba(240,225,201,0.8);
                // width: 305px;
                // height: 305px;
            }

            // .how-to-use4{
            //     background-color: yellow;
            //     width: 610px;
            //     height: 305px;
            //     float: left;
            // }
        }
    }

    .ask{
        width: 100%;
        background-color: #dedede;
        padding-top: 60px;
        padding-bottom: 60px;
        .inner{
            width: 660px;
            .ask-text1{
                font-size: 32px;
                padding-bottom: 40px;
                font-weight: bold;
                text-align: center;
                letter-spacing: 0.2em;
            }
            .ask-text2{
                // font-size: 1.5rem;
                padding-bottom: 20px;
                font-weight: 500;
            }
        }
    }

    .qa{
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #141414;
        color: #fff;;

        .inner {
            width: 960px;
            .qa-text{
                padding-bottom: 40px;
                font-size: 2rem;
                font-weight: 700;
            }
            .item {
                border: solid 1px #4b4b4b;
                margin-bottom: 5%;
                font-size: 1.2rem;

                .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: #1f1f1f;
                padding: 20px;
                letter-spacing: 0.1em;
                font-weight: bold;
                    span{
                        cursor: pointer;
                    }
                }
                .answer-list{
                    // display: none;
                    .answer-design {
                        display: block;
                        padding: 16px 8px;
                        display: none;
                        margin-bottom: 2px;
                        margin-left: 15px;
                        margin-right: 15px;
                        font-size: 18px;
                    }
                    .open-answer{
                        background-color: #1f1f1f;
                    }

                    .open-answer:hover{
                        background-color: lighten(#202020, 20%);
                    }
                }
            }
        }
    }

    
    

    // .spec{
    //     background: black;
    //     span{
    //         color: black;
    //     }
    // }

    // .Introduction{
    //     background: #121629;
    // }
    // .Introduction{
    //     background: azure;
    // }
    // .Introduction{
    //     background: azure;
    // }
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../font/MaterialIcons-Regular.woff2) format('woff2'),
      url(../font/MaterialIcons-Regular.woff) format('woff'),
      url(../font/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


// 非表示
// .hidden-content{
//     display: none;
// }


// flexとglid使う
// id指定「#」、クラス指定「.」

// 768px以下で適応されるクエリ
// @media screen and (max-width: 768px) {
//     body{
//         .main-content{
//             .how-to-use{
//                 p{
//                     color: #fff;
//                 }
//                 .how-to-use-contents{
//                     .how-to-use-area{
//                         // TBは2列なので /2
//                         width: calc(100% / 2);
//                     }
//                     .img-center {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }

@media screen and (max-width: 1201px) {
    #main-content {
        .key-visual{
            background-size: auto 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    body{
        .header-content{

            .global-nav {
                // 初期は画面の -90% の位置を指定
                // クリック時は .global-nav-open へ
                position: fixed;
                top: 0;
                right: -90%;
                // 以下で表示した時のナビゲーションのスタイルを当てておく
                background-color: white;
                width: 90%;
                height: 100vh;
                transition: all 0.3s;
                display: block;
                // text-align: center;
                dl{
                    width: 100%;
                    margin: 0px;
                    dt{
                        padding: 2.5% 0;
                        border-top: 1px solid #e6e6e6;
                        font-size: 0.875;
                        a{
                            font-size: 0.875rem;
                        }
                    }
                }
            // メニューリスト表示
            .header-menu-contents-list {
                background-color: #f5f5f5;
                span{
                    margin: 0;
                    padding: 2.5%;
                    border-top: 1px solid #e6e6e6
                }
            }
                // .container {
                //     ul {
                //         display: flex;
                //         flex-direction: column;
                //         justify-content: space-around;
                //         li {
                //         width: 100%;
                //             a {
                //                 padding: 16px 0;
                //                 display: flex;
                //                 justify-content: center;
                //                 align-items: center;
                //                 &:hover {
                //                 background-color: $primary;
                //                 }
                //             }
                //         }
                //     }
                // }
            }

            .global-nav-open {
                // right:  0
                top: 0;
                right: 0;
            }

            .header-menu-open{
                z-index: 100;
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                span{
                    float: right;
                    font-size: 50px;
                }
            }

            // メニュー表示非表示
            // span input{
            //     color: red;
            // }


        }
        // global-wrapper-hide時のクラス
        .global-wrapper-hide {
        right: 90%;
        }
    }

    #main-content {

        // ロゴ
        .key-visual{
            background-size: 100% auto;
            height: 420px;
            div{
                min-width: 280;
                padding: 15px;
                background-color: rgba($color: #141414, $alpha: 0.4);
            }
        }
    
        // どんなアプリ
        .Introduction{
            display: block;
            .Introduction-content{
                padding-left: 0px;
                .Introduction-text{
                    .Introduction1{
                        font-size: 18px;
                        text-align: center;
                    }
                    .Introduction2{
                        font-size: 16px;
                        padding-bottom: 0px;
                    }
                    .Introduction3{
                        font-size: 14px;
                    }
                }

                .Introduction-info{
                    width: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    text-align: center;
                    h1{
                        font-size: 16px;
                    }
                    p{
                        font-size: 14;
                    }
                }
            }


            .Introduction-img{
                margin: auto;
            }
        }

        .how-to-use {
            padding: 40px 10px;
            .how-to-use-contents {
                width: auto;
                p{
                    font-size: 18px;
                }
                .how-to-use-area {
                // TBは2列なので /2
                width: calc(100% / 2);
                }
                .img-center{
                    display: none;
                }
            }
        }

        .ask{
            .inner{
                width: auto;
                .ask-text1{
                    font-size: 18px;
                    padding-bottom: 0px;
                }
                .ask-text2{
                    margin-top: 20px;
                    font-size: 0.875rem;
                }
            }
        }

        .qa{
            .inner{
                width: auto;
                .qa-text{
                    font-size: 18px;
                    padding-bottom: 20px;
                    text-align: center;
                }
                .item{
                    .question{
                        padding: 10px 10px 10px 10px;
                    }
                    .answer-list{
                        .answer-design{
                            padding: 10px 40px 10px 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #main-content {
        .key-visual{
            background-size: auto 100%;
            // width: 100%;
        }
    }
}

